<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Cliking Photo Editor" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <%# Un seul import propre pour chaque fichier CSS %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <%= yield :head %>
  </head>

  <%# On met la couleur de fond de l'app sur TOUT le body et on enlève les marges %>
  <body class="bg-[#1c1c1e] text-white antialiased m-0 p-0">
    <%# On retire toutes les classes flex/center pour que l'app soit en plein écran %>
    <main class="w-full min-h-screen">
      <%= yield %>
    </main>
  </body>
</html>